.koi-status-icon {
    cursor: pointer;
}

.koi-status-icon:hover {
    background: var(--background-modifier-hover);
}

/* .status-bar-item svg.svg-icon.lucide-circle-alert{
    color: var(--color-red);
} */

.status-bar-item svg.svg-icon.refresh-cw-off {
    color: var(--color-red);
}

.status-bar-item svg.svg-icon.lucide-refresh-cw {
    color: var(--color-blue);

    animation: rotate 2s linear infinite;
}

.status-bar-item svg.svg-icon.lucide-circle-check {
    color: var(--color-green);
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}